
<input type="checkbox" id="check">
<label for="check">

    <fa-icon icon="times" id="cancel"></fa-icon>


    <fa-icon icon="bars" id="btn"></fa-icon>


</label>
<div id="side-bar">
    <div>
        <fa-icon icon="hospital-symbol"></fa-icon>CHU BORDEAUX
    </div>
    <div class="menu-list">
        <ul>
            <li><a href="index.html">
                    <fa-icon icon="user"></fa-icon>Accueil
                </a></li>
            <li><a href="">
                    <fa-icon icon="people-carry"></fa-icon>Infos
                </a></li>

            <li><a href="">
                    <fa-icon icon="address-card"></fa-icon>Contact
                </a></li>


            <li><a href="">
                    <fa-icon icon="stethoscope"></fa-icon>A propos
                </a></li>

            <li><a href="">
                    <fa-icon icon="dice-d20"></fa-icon>Themes
                </a></li>
        </ul>
    </div>
</div>

