
    <div class="timesbars">
    <input type="checkbox" name="check" id="check">
    <label for="check">

        <fa-icon icon="times" id="cancel"></fa-icon>  
       <fa-icon icon="bars" id="btn"></fa-icon>

    </label>
    </div>
    
    <div class="side-bar">
        <div class="header-bar">
                 CHU BORDEAUX
        </div>
        <div class="menu-list">
            <ul>
                <li><a href="accueil.html">
                    <fa-icon icon="hospital-symbol"></fa-icon>Accueil</a>
                </li>
                <li><a href="infos.html">
                    <fa-icon icon="people-carry"></fa-icon>Infos</a>
                </li>
                <li><a href="contact.html">
                    <fa-icon icon="address-card"></fa-icon>Contact</a>
                </li>
                <li><a href="about.html">
                    <fa-icon icon="user"></fa-icon>About</a>
                <li><a href="theme">
                    <fa-icon icon="dice-d20"></fa-icon>Theme</a>
                </li>
            </ul>

        </div>
    </div>

    

