

@import "./src/styles";


label #btn , label   #cancel{
    position: absolute;
    cursor: pointer;
    background-color: rgb(226, 142, 73);
    border-radius: 2px ;
    border: solid grey;

}
  label #cancel{
 
z-index:    1111;
margin-left: 1px;
top: 2px;
left :-130px;
font-size: 25px;
color: rgb(241, 8, 8);
padding: 3px 6px;
transition: all 2s;
}

 label #btn {
    left: 15px;
    top: 14px;
    font-size: 45px;
    color: rgb(7, 92, 167);
    padding: 8px,15px;
  
}
#check{
   display: none;
    
}

#check:checked #side-bar{
    left: 0px;
  }
  
  #check:checked ~label #btn{
    left: 10px;

    pointer-events: none;
  }
  #check:checked  ~label #cancel{
    left: 143px;
    transition: 2s;}

    #side-bar{
    top: 0;
    left: -180px;
    padding-top: 55px;

    width: 180px;
    height: 100%;
    background-color: rgb(155, 78, 15);
    transition: all .5 ease;

}

    .header-bar{
    width: 100%;
    height: 50px;
    padding-left: 14px;
    margin-bottom: 0;
    user-select: none;
    
}
.menu-list ul  li a 
{
text-decoration:none;
list-style: none;
color: antiquewhite;
}


.menu-list ul{

list-style-type: none;
margin-top: 40px;
padding: 0;

}
   
.menu-list ul li{
    display: block;
    width: 100%;
    line-height: 1.2;
    font-size: 20px;
    
    padding-left: 10px;
    padding-top: 15px;
    padding-bottom: 10px;

    box-sizing: border-box;
    border-bottom: 1px solid rgb(95, 59, 11);
    border-top: 1px solid rgb(255,255,255,.1);
    transition: 2s;
}
.menu-list ul li a:hover  {

    padding-left: 15px;
   
}


.menu-list ul li i{
    margin: 0;
    margin-right: 5px;
    margin-left: 5px    ;
    padding-right: 10px;

}




/*
#timesbar{
display: flex;
flex-flow: row nowrap;
justify-content: start;
left: 0;
width: 180px;
}

label #btn ,label #cancel{
  
    align-content: space-between;
    cursor: pointer;
    background-color: rgb(226, 142, 73);
    border-radius: 2px ;
    border: solid grey;
}

label #cancel{
 
z-index:    1111;
margin-left: 10px;
top: 2px;
left :30px;
font-size: 25px;
color: rgb(241, 8, 8);
padding: 3px 6px;
transition: all 2s;
}

label #btn {
    left: 185px;
    top: 14px;
    font-size: 45px;
    color: rgb(7, 92, 167);
    padding: 8px,15px;
  
}

#check{
    width: 180px;

    border: 2px solid black;
}


#check:checked .side-bar{
    left: 180px;
  }
  
  #check:checked  #btn
{
    left: 10px;
    opacity: 0;
    pointer-events: none;
   
}
    #check:checked  label #cancel{
    left: -20px;
    transition: 2s;
}

    .side-bar{
    top: 100;
    left: -180px;
    padding-top: 55px;
    position: fixed;
    width: 180px;
    height: 100%;
    background-color: rgb(155, 78, 15);
    transition: all .5 ease;

}
.header-bar{
    width: 100%;
    height: 50px;
    padding-left: 14px;
    margin-bottom: 0;
    user-select: none;
    
}
.menu-list ul  li a 
{
text-decoration:none;
list-style: none;
color: antiquewhite;
}


.menu-list ul{

list-style-type: none;
margin-top: 40px;
padding: 0;

}
   
.menu-list ul li{
    display: block;
    width: 100%;
    line-height: 1.2;
    font-size: 20px;
    
    padding-left: 10px;
    padding-top: 15px;
    padding-bottom: 10px;

    box-sizing: border-box;
    border-bottom: 1px solid rgb(95, 59, 11);
    border-top: 1px solid rgb(255,255,255,.1);
    transition: 2s;
}
.menu-list ul li a:hover  {

    padding-left: 15px;
   
}


.menu-list ul li i{
    margin: 0;
    margin-right: 5px;
    margin-left: 5px    ;
    padding-right: 10px;

}fa-icon{
    margin-right: 5px;
}



*/



