<h1>CHU de Bordeaux</h1>

<main class="grid">

  <!-- Start Matthieu -->
  <div class="last-news">

  </div>
  <!-- End Matthieu -->

  <!-- Start Gabriel -->
  <div class="news-flow">
    <h2 class="news-flow-title">Actualité</h2>
    <div *ngFor="let news of newsFlow; let index = index" class="news">
      <div class="row">
        <h3 class="news-title">{{index + 1}} {{news.title}}</h3>
        <span class="news-date">{{news.date}}</span>
      </div>
      <p class="news-content">{{news.content}}</p>
    </div>
  </div>
  <!-- End Gabriel -->

  <!-- Start Rachid -->
  <div class="form">

  </div>
  <!-- End Rachid -->

</main>
