  
<footer>
<h3> Contact et liens</h3>

<div id="container">

<div id="contact">

<ul>
<li id ="adresse"> CHU Bordeaux <br>
20 rue des estropiés <br>
33000 Bordeaux</li>

<li> 📞 05 66 66 66 66</li>

<li> 📧 <a href = "chu-bordeaux@onestpasmort.com">  chu-bordeaux@onestpasmort.com </a></li> 

</ul>

</div>

<div id = "liens">

  <ul>
<li> <a href= "https://www.nouvelle-aquitaine.ars.sante.fr/" title = "Une administration sérieuse"> ARS Nouvelle-Aquitaine</a> </li>

<li> <a href = "https://meilleures-pompes-funebres.com/33/bordeaux/pompes-funebres-generales-pfg" title = "Parce que nous ne sommes pas toujours efficace"> Pompes Funebres Générale</a> </li>

<li> <a href = "https://www.tf1.fr/tf1/dr-house" title = "Notre modèle"> Docteur House</a> </li>


<li> <i>© 2020 - CHU Bordeaux <br>
Toute reproduction de cette oeuvre est interdite <br>sous peine d'une hospitalisation prolongé </i></li>

</ul>
</div>
</div>

</footer>

